@media screen and (max-width: 1145px) {
	.recent-sort-item {
		max-height: 580px;
	}
}
@media screen and (max-width: 992px) {
	.tagline-container {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media screen and (max-width: 961px) {
	.mobile-nav {
		display: flex;
	}

	.header {
		padding-top: 100px;
	}
	.header-nav-link {
		display: none;
	}
	.features-item-container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.features-item-block {
		margin-top: 10px;
		margin-bottom: 45px;
	}
}
@media screen and (max-width: 854px) {
	.testimonials-reviews-block figure{
		flex-direction: column;
	}
	.testimonials-reviews-block figure figcaption{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0;
	}
	.testimonials-reviews-block figure figcaption p{
		width: 85%;
	}
	.how-work-info {
		flex-direction: column;
	}
		
	.how-work-video {
		flex-basis: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 770px) {
	.recent-sort-item {
		max-height: 863px;
	}
	.team-peoples {
		flex-wrap: wrap;
		justify-content: center;
	}
	.team-people {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.partners-logo-container {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 540px) {
	.title {
		font-size: 50px;
	}
}
@media screen and (max-width: 500px) {
	.how-work-video iframe{
		height: 260px;
	}
	.testimonials-reviews-block figure figcaption p{
		width: 75%;
	}
}
@media screen and (max-width: 480px) {
	.faq-accardion-subtitle {
		font-size: 20px;
	}
	.title {
		font-size: 40px;
  }
  .features-item-img{
    margin-bottom: 20px;
  }
	.features-item-block {
		figure {
			flex-direction: column;
			figcaption {
				margin-left: 0;
			}
		}
	}
	.features-links {
		flex-direction: column;
	}
}
@media screen and (max-width: 450px) {
	.faq-accardion-item{
		max-width: 280px;
	}
}
@media screen and (max-width: 436px) {
  	.recent-sort-item {
		max-height: 863px;
	}
}
@media screen and (max-width: 400px) {
	.recent-sort-img{
		max-width: 280px;
	}
	.recent-sort-item {
		max-height: 696px;
	}
}

@media screen and (max-width: 348px) {
	.header-info-block{
		span{
			font-size: 42px;
		}
	}
	.header-info{
		padding-top: 115px;
	}
}