@import 'config';
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
ul {
	margin: 0;
	list-style-type: none;
}
a {
	color: $textcolor;
}
.wrapper {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1170px;
	width: 100%;
}
.s-padding {
	padding-top: 70px;
	padding-bottom: 110px;
}
.title {
	font-size: 60px;
	font-family: $subtitle-font;
	text-align: center;
	text-transform: uppercase;
}
// STYLES & IMPORTS

.mobile-nav__container {
	align-items: center;
}
//header

.header-nav-link {
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		a {
			font-family: $subtitle-font;
			color: $subtitle-color;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: $subtitle-color;
			}
		}
	}
}

.header-navigation {
	margin-bottom: 0;
	display: flex;
	li {
		display: flex;
		align-items: center;
		padding-top: 10px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;
		border-radius: 6px;
		transition: background-color 0.15s ease;
		cursor: pointer;
		a {
			color: #035d6e;
			transition: color 0.15s ease;

			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			background-color: $subtitle-color;
			a {
				color: $white;
			}
		}
	}
}

.header-info {
	position: relative;
	padding-top: 100px;
	padding-bottom: 130px;
	background-image: url('../images/dest/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	.owl-dot {
		margin-left: 5px;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		border: 2px solid $white !important;
		border-radius: 10em;
		background: transparent;
	}
}

.header-info-block {
	span {
		max-width: 420px;
		margin-bottom: 35px;
		display: inline-block;
		line-height: 1.4;
		font-size: 64px;
		font-family: $subtitle-font;
		font-weight: bold;
		color: $white;
	}
	p {
		max-width: 860px;
		font-size: 14px;
		color: $white;
	}
	button {
		margin-top: 35px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		font-size: 20px;
		font-family: $subtitle-font;
		text-transform: uppercase;
		background-color: $white;
		color: $subtitle-color;
		border: none;
		border-radius: 5px;
	}
}
.owl-dot {
	margin-left: 5px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border: 2px solid $white !important;
	border-radius: 10em;
}
.owl-dots {
	position: absolute;
	bottom: -90px;
	right: 50%;
	transform: translateX(50%);
}

.owl-dot.active {
	background: #fff !important;
}

//tagline

.tagline-container {
	display: flex;
	justify-content: space-between;
}
.tagline-img-container {
	margin-bottom: 22px;
	width: 230px;
	height: 200px;
}
.tagline-block {
	margin-left: 5px;
	margin-right: 5px;
	max-width: 330px;
	text-align: center;
}
.tagline-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tagline-figcaption {
	span {
		font-family: $subtitle-font;
		font-size: 24px;
		color: $subtitle-color;
	}
}

//recent

.recent {
	background-color: #99d4a5;
}
.recent-container {
	text-align: center;
	h2,
	p {
		color: $white;
	}
}
.recent-sort-button {
	margin-top: 55px;
	margin-bottom: 50px;
	button {
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		text-transform: uppercase;
		font-family: $subtitle-font;
		background: transparent;
		color: $white;
		border: none;
		border-radius: 5px;
	}
}
.recent-sort-item {
	max-height: 290px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: hidden;
	transition: all 0.25s ease;
}
.recent-sort-img {
	position: relative;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	max-width: 355px;
	img {
		position: relative;
		width: 100%;
	}
}
button.recent-active {
	background-color: $white;
	color: $subtitle-color;
}
.recent-img-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 70px 20px black inset;
	opacity: 0;
	transition: all 0.25s ease;
	.fas {
		color: $white;
		text-shadow: 0 5px 5px black;
		font-size: 2px;
		transition: all 0.25s ease;
	}
	&:hover {
		opacity: 1;
		.fas {
			font-size: 64px;
		}
	}
}
.revent-btn,
.contacts-btn__submit input {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: $subtitle-font;
	color: $subtitle-color;
	border: none;
	border-radius: 5px;
}
//FEATURES

.features-container {
	p {
		margin-bottom: 55px;
		text-align: center;
	}
}
.features-item-container {
	display: flex;
}

.features-item-block {
	margin-left: 5px;
	margin-right: 5px;
	max-width: 560px;
	figure {
		display: flex;
		align-items: center;
		figcaption {
			margin-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			span {
				font-size: 24px;
				font-family: $subtitle-font;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

.features-links {
	display: flex;
	justify-content: space-between;
	ul {
		position: relative;
		padding-left: 15px;
		li {
			a {
				font-size: 14px;
				transition: color 0.15s ease;
			}
			&:before {
				position: absolute;
				left: 0;
				line-height: 1;
				font-size: 25px;
				transition: left 0.15s ease;
				content: '	\01F892';
			}
			&:hover {
				&:before {
					left: 3px;
				}
				a {
					color: #81b5be;
					text-decoration: none;
				}
			}
		}
	}
}
//ADVANTAGEES

.advantages {
	background-image: url('../images/dest/advantages-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: $white;
}
.advantages-container {
	text-align: center;
	p {
		margin-bottom: 50px;
	}
}
.advantages-blocks-numeric {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantages-block {
	margin: 10px;
	max-width: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	span {
		margin-top: 22px;
		margin-bottom: 25px;
		font-family: $subtitle-font;
		font-size: 24px;
	}
	p {
		opacity: 0.7;
	}
}

.advantages-numeric {
	width: 90px;
	height: 90px;
	background-color: $white;
	border-radius: 10em;
	color: $textcolor;
	font-size: 60px;
	font-family: $subtitle-font;
	line-height: 1.3;
}

//TEAM
.team-container {
	p {
		text-align: center;
	}
}
.team-peoples {
	display: flex;
}
.team-people {
	margin-left: 10px;
	margin-right: 10px;
	max-width: 340px;
	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		figcaption {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			span {
				margin-top: 35px;
				margin-bottom: 33px;
				font-size: 24px;
				font-family: $subtitle-font;
			}
			p {
				margin-bottom: 40px;
			}
		}
	}
}
.team-peoples {
	margin-top: 55px;
}
.team-circle {
	margin-left: 5px;
	margin-right: 5px;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(#036b7e, 0.5);
	transition: background-color 0.2s ease;
	&:hover {
		background-color: rgba(#036b7e, 1);
		cursor: pointer;
	}
	.fab {
		font-size: 24px;
		color: $white;
	}
}
.team-social {
	display: flex;
}

//testimonials

.testimonials {
	background-color: #035c6c;
}
.testimonials-container {
	.title,
	p {
		color: $white;
	}
	p {
		margin-bottom: 55px;
		text-align: center;
	}
}
.testimonials-reviews-block {
	display: flex;
	justify-content: center;
	figure {
		max-width: 755px;
		display: flex;
		align-items: center;
		.testimonials-img {
			min-width: 170px;
		}
		figcaption {
			margin-left: 60px;
			color: $white;
			p {
				position: relative;
				margin-top: 15px;
				font-size: 14px;
				opacity: 0.8;
				&:before,
				&:after {
					position: absolute;
					font-size: 24px;
					font-family: 'Font Awesome 5 Free';
					font-weight: 600;
					opacity: 1;
				}
				&:before {
					left: -35px;
					top: -15px;
					content: '\f10d';
				}
				&:after {
					right: -35px;
					bottom: -15px;
					content: '\f10e';
				}
			}
		}
	}
}
#testimonials-carousel-nav {
	.owl-dots {
		.owl-dot {
			background: $white !important;
			border-color: #fbbe67 !important;
			&.active {
				background-color: #fbbe67 !important;
			}
		}
	}
}

.testimonials-visitor-name {
	font-size: 24px;
	font-family: $subtitle-font;
	span {
		font-size: 16px;
	}
}

//how work

.how-work-container {
	.title {
		color: $subtitle-color;
	}
	p {
		margin-bottom: 55px;
		text-align: center;
	}
}

.how-work-info {
	display: flex;
	align-items: center;
}

.how-work-video,
.how-work-text {
	flex-basis: 50%;
}

.how-work-video {
	iframe {
		width: 100%;
		height: 350px;
		border: none;
	}
}
.how-work-text {
	padding-left: 20px;
	padding-right: 20px;

	span {
		font-size: 24px;
		font-family: $subtitle-font;
		line-height: 1.3;
	}
	p {
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: 14px;
		&:nth-child(2) {
			margin-bottom: 20px;
		}
	}
}

//properties
.properties {
	background-color: #e4e4e4;
}
.properties-container {
	p {
		margin-bottom: 55px;
		text-align: center;
	}
}
.properties-circle-progress {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.properties-progress-item {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	span {
		margin-top: 25px;
		font-size: 24px;
		font-family: $subtitle-font;
	}
}
.properties-circle {
	width: 170px;
	height: 170px;
	font-size: 36px;
	font-family: $subtitle-font;
}
//faq

.faq-container {
	&>p {
		margin-bottom: 50px;
		text-align: center;
	}
}
.faq-accardion-item {
	margin: 10px 10px;
	max-width: 350px;
	width: 100%;
	p {
		display: none;
		font-size: 14px;
	}
}
.faq-accardion-item-container {
	display: flex;
	flex-direction: column;
}
.faq-accardion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.faq-accardion-title {
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.faq-accardion-subtitle {
	font-size: 24px;
	font-family: $subtitle-font;
	line-height: 1.3;
}
.faq-accardion-button {
	min-width: 45px;
	height: 45px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	background-color: $textcolor;
	border-radius: 10em;
	color: $white;
	&:hover {
		background-color: #036b7e;
	}
}

.faq-btn-active {
	background-color: #036b7e;
}

//blog
.blog {
	background-color: #89b5be;
}
.blog-container {
	.title {
		color: $white;
	}
	> p {
		margin-bottom: 50px;
		text-align: center;
		color: $white;
	}
}
.blog-img {
	img {
		width: 100%;
	}
}
.blog-posts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.blog-post {
	margin: 7px;
	padding: 15px;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $white;
	p {
		margin-bottom: 30px;
	}
	&:hover {
		text-decoration: none;
		.blog-subtitle {
			color: #4692a0;
		}
		p {
			color: $textcolor;
		}
	}
}
.blog-subtitle {
	margin-top: 35px;
	margin-bottom: 30px;
	line-height: 1.3;
	font-family: $subtitle-font;
	font-size: 24px;
	transition: color 0.15s ease;
}

//partners
.partners-container {
	.title {
		color: $subtitle-color;
	}
	p {
		margin-top: 15px;
		margin-bottom: 50px;
		text-align: center;
	}
}
.partners-logo-container {
	display: flex;
	justify-content: space-around;
}
.partners-logo-item {
	margin: 10px;
	img {
		opacity: 0.6;
		transition: opacity 0.15s ease;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}

//adress
.contacts {
	background-color: #2c2c2c;
	&.s-padding {
		padding-bottom: 20px;
	}
}
.contacts-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		color: $white;
	}
}
.contacts-adress {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
	color: $white;
	a {
		color: $white;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}
.contacts-form {
	margin-top: 30px;
	max-width: 580px;
	width: 100%;
	form {
		position: relative;
	}
}
.contacts-input__name,
.contacts-input__email,
.contacts-textarea__message {
	label {
		width: 100%;
	}
}
.contacts-input__name,
.contacts-input__email {
	label {
		input {
			padding: 10px;
			width: 100%;
			border: none;
			border-radius: 5px;
		}
	}
}
.contacts-textarea__message {
	label {
		width: 100%;
	}
	textarea {
		padding: 10px;
		width: 100%;
		height: 200px;
		border: none;
		border-radius: 5px;
		resize: none;
	}
}
.contacts-label {
	position: relative;
	margin-bottom: 20px;
	.contacts-subtitle {
		transition: all 0.25s ease;
		position: absolute;
		top: 10px;
		left: 15px;
	}
	input,
	textarea {
		&:focus + .contacts-subtitle {
			color: $white;
			font-size: 12px;
			transform: translateY(-27px);
		}
	}
}
.contacts-btn__submit {
	display: flex;
	justify-content: center;
	input {
		border: none;
	}
}
.contacts-copyright {
	margin-top: 50px;
	color: $white;
}

//mobile
.mobile-nav {
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $white;
	z-index: 20;
	box-shadow: 0 0 13px 0 black;
}
.mobile-nav__head {
	display: flex;
	justify-content: space-between;
}
.mobile-nav-link {
	display: none;
}

.mobile-navigation {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	li {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
		a {
			font-size: 24px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

//hamburger
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
	top: 2px;
}
.hamburger--slider .hamburger-inner::before {
	top: 10px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
	transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.menu-active {
	display: flex;
}
.mobile-nav__container {
	flex-direction: column;
}

.nav-menu__overlay {
	background-color: $white;
}

.headhesive {	
	display: flex;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 30;
	width: 100%;
	background-color: $white;
	box-shadow: 0 0 13px 0 black;
	transition: transform 0.15s ease;
	transform: translateY(-100%);

	&.headhesive--unstick {
		//transform: translateY(-100%);
		opacity: 0;
	}
	&.headhesive--stick {
		padding-left: 20px;
		padding-right: 20px;
		opacity: 1;
		transform: translateY(0);
	}
}


@import 'media';
