@media screen and (max-width: 1240px) {
  .header__navigation,
  .header__btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .address__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .head-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 720px) {
  .foot__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 588px) {
  .page-address__container {
    flex-direction: column;
  }
  .page-address__map,
  .page-address__contacts {
    width: 100%;
  }
  .page-address__contacts {
    ul {
      li {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .doctor__block_img {
    max-width: 100%;
  }

  .socials__inner {
    justify-content: center;
    align-items: center;
  }
  .socials__form {
    display: none;
  }
  .socials__facebook {
    font-size: 26px;
  }
  .copyright {
    display: none;
  }
  .benefits__block {
    img {
      margin: auto;
    }
  }
  .directions__container {
    .slick-slide {
      margin: 0 45px;
    }
  }
  .slick {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;

    &-slide {
      margin: 0 35px;
      img {
        margin: auto;
      }
    }

    &-list {
      margin-left: -30px;
      margin-right: -30px;
    }

    &-item {
      height: 200px;
      width: 300px;
    }
  }
  .page-price__consultation_list {
    margin-bottom: 60px;
    li {
      margin-bottom: 40px;
      flex-direction: column;
      align-items: center;
      &:first-child {
        margin-bottom: 15px;
      }
      span {
        text-align: center;
      }
    }
  }
  .page-price__consultation__cash,
  .page-price__consultation__cash_name {
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .address__phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .address__slash {
    display: none;
  }
  .socials__form {
    max-width: 275px;
  }
}
