@import "vars";
@import "fonts";
@import "libs";
@import "slick";
@import "slick-theme";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Acrom", serif;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Gothic", sans-serif;
  overflow-x: hidden;
  color: $text;
}
.slick-initialized .slick-slide {
  width: 270px;
  outline: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
// Custom styles

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.head-padding {
  padding-top: 20px;
  padding-bottom: 30px;
}
.s-padding {
  padding-top: 50px;
  padding-bottom: 60px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.subline {
  position: relative;
  &:before {
    position: absolute;
    bottom: -10px;
    width: 40px;
    height: 3px;
    background-color: $subline-color;
    content: "";
  }
}

//address
.address {
  position: relative;
  //z-index: 30;
}
.address__map,
.address__schedule,
.address__phones {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  a,
  span {
    color: $header-text-color;
    font-weight: bold;
    transition: color 0.25s ease;
    white-space: nowrap;
  }
  a:hover {
    color: $accent;
  }
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
}

//end address

//header
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #ccc;
}
.header {
  //position: relative;
  border-top: 1px solid rgba($color: #666, $alpha: 0.2);
}
.header__logo {
  max-width: 220px;
}
.header__inner {
  position: relative;
}
.header__list {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  li {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: color 0.25s ease;
    a {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.25s ease;
    }
    .fas {
      transition: color 0.25s ease;
    }
    &:hover {
      > a,
      .fas {
        color: $accent;
      }
    }
  }
}
.header__btn,
.mobile__btn {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border: 1px solid $accent;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.25s ease;
  &:hover {
    background-color: $accent;
    color: white;
  }
}
.submenu__directions {
  li {
    &:hover {
      box-shadow: 0 0 8px 2px #ccc;
    }
  }
}
.submenu__directions,
.submenu__doctors {
  li {
    margin: 10px;
    max-width: 180px;
    width: 100%;
    > a {
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 0.25s ease;
      span {
        margin-top: 20px;
        color: $text;
      }

      img {
        width: 70px;
        height: 70px;
        transition: transform 0.35s ease;
      }
    }
    &:hover {
      a {
        span {
          color: $accent;
        }
      }
    }
  }
}
.header__submenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px black;
  z-index: 2;
}
.direction__show:hover .submenu__directions,
.direction__show:hover .submenu__doctors,
.direction__show:hover .submenu__price {
  opacity: 1;
  visibility: visible;
}
.submenu__directions,
.submenu__doctors,
.submenu__price {
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}
.submenu__doctors {
  padding: 10px 0;
  li {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 210px;
    padding: 0;
  }
  .doctor__block_img {
    max-height: 160px;
  }
}
.submenu__price {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  > li {
    margin: 0 30px;
    max-width: 140px;
    width: 100%;
    ul {
      padding: 0;
      color: $text;
      li {
        border-bottom: 1px solid #ccc;

        padding: 0;
        > a {
          color: #7c7c7c;
          font-weight: normal;
          font-size: 12px;
          transition: color 0.25s ease;
          text-transform: none;
        }
        &:hover {
          a {
            color: $accent !important;
          }
        }
      }
    }
  }
}
//end header

//directions
.directions {
  position: relative;
  background-color: #fafafa;
  &__inner {
    h2 {
      margin-bottom: 40px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.direction__block {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  max-height: 170px;
  width: 100%;
  height: auto;
  text-align: center;
  transition: all 0.25s ease;
  img {
    width: 90px;
    height: 90px;
  }
  &:hover {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #7c7c7c;
    transform: scale(1.02);
  }
}
.direction__block_text {
  font-weight: bold;
  font-style: 18px;
}
//end directions

//benefits
.benefits {
  &__container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__block {
    padding: 10px 20px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__block_headline {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}
//end benefits

//doctors
.doctors {
  &__block {
    transition: all 0.25s ease;

    &:hover {
      background-color: #fff;
      transform: scale(1.02);
      box-shadow: 0 0 5px 0 #b6b3b3;
      border-radius: 5px;
    }
    .doctor__block_info {
      .doctor__name {
        color: $text;
      }
      .doctor__block_spec {
        color: #7c7c7c;
      }
      .doctor__phone,
      .doctor__sign {
        a,
        i {
          color: #7c7c7c;
          font-size: 12px;
        }
        &:hover {
          a,
          i {
            color: $accent;
          }
        }
      }
    }
  }
}
.slick-track {
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 40px;
}
.doctor__block_img {
  max-width: 292px;
  max-height: 292px;
  object-fit: fill;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.doctor__block_info {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doctor__block_spec {
  font-size: 12px;
  color: $text;
}
.doctor__name {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.doctor__phone,
.doctor__sign {
  display: flex;
  align-items: center;
  > a,
  > i {
    font-size: 13px;
    color: $text;
  }
  > i {
    margin-right: 10px;
  }
}
//end doctors

//socials
.socials {
  background-color: #d8d8d8;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__facebook {
    .fab {
      color: black;
    }
    &:hover {
      cursor: pointer;
      .fab {
        box-shadow: 0 0 10px 0 #7c7c7c;
        border-radius: 10em;
        transform: scale(1.1);
      }
    }
  }
  &__form {
    position: relative;
    left: 0;
    max-width: 300px;
    width: 100%;
    height: 40px;
    input {
      padding: 10px;
      position: absolute;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.664);
      border: none;
      color: black;
      &::placeholder {
        color: black;
        font-size: 14px;
      }
    }
    button {
      position: absolute;
      height: 38px;
      right: -18px;
      border: none;
      color: black;
      background: none;
      outline: none;
      .far {
        transition: transform 0.25s ease;
      }
      &:hover {
        cursor: pointer;
        .far {
          transform: scale(1.1);
        }
      }
    }
  }
}
//end socials

.slick-slide {
  margin: 0 10px;
}
.slick-dots li {
  background: rgb(116, 116, 116);
  border-radius: 10em;
  max-width: 10px;
  max-height: 10px;
  button {
    max-width: 6px;
    max-height: 6px;
    background-color: white;
  }
}
.slick-dots li.slick-active {
  background-color: $accent;
}

.foot {
  padding: 20px 0;
  background-color: #d8d8d8;
  border-top: 1px solid #b6b3b3;
  border-bottom: 1px solid #b6b3b3;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo {
    max-width: 400px;
    img {
      width: 100%;
    }
  }
}
.foot__logo {
  flex-basis: 40%;
}
.foot__logo_subtitle {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.foot_address,
.foot-links {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  text-align: center;
  h5 {
    font-size: 18px;
    margin: 0 0 20px 0;
    color: black;
    text-align: center;
  }
  a {
    transition: all 0.25s ease;
    font-size: 14px;
    color: black;
    &:hover {
      font-weight: bold;
    }
  }
}
.foot_address {
  p {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: black;
    text-align: center;
  }
}

//copyright
.copyright {
  background-color: #d8d8d8;
  &__inner {
    display: flex;
    justify-content: space-between;
    span {
      margin: 10px;
      font-size: 10px;
      color: black;
    }
  }
}
.slick-dots li button {
  &:before {
    display: none;
  }
}
.slick-dots li {
  transition: opacity 0.25s ease;
  &:hover {
    opacity: 0.6;
  }
}

.foot__subline {
  position: relative;

  &:before {
    position: absolute;
    right: 50%;
    bottom: -5px;
    width: 30%;
    height: 1px;
    transform: translateX(50%);
    background-color: black;
    content: "";
  }
}
.header__mobile_menu {
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.25s ease;
  ul {
    margin-bottom: 5%;
    li {
      a {
        font-size: 20px;
      }
    }
  }
  .mobile__btn {
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.mobile__menu_close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  background-color: none;
  border: none;
  outline: none;
  .fas {
    font-size: 26px;
  }
  &:hover {
    .fas {
      color: $accent;
    }
  }
}

.hamburger {
  display: none;
  outline: none;
}

//callback link
.callback__link {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 72px;
  background-color: $accent;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0em rgba($accent, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}

.phone::before,
.phone::after {
  position: absolute;
  content: "";
}

.phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(#fff, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.phone.is-animating {
  animation: phone-outer 3000ms infinite;

  &::before {
    animation: phone-inner 3000ms infinite;
  }

  &::after {
    animation: phone-icon 3000ms infinite;
  }
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(#3498db, 0.1), 0em 0.05em 0.1em rgba(#000000, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0);
  }
  2% {
    transform: translate3d(0.01em, 0, 0);
  }
  4% {
    transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    transform: translate3d(0.01em, 0, 0);
  }
  8% {
    transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    transform: translate3d(0.01em, 0, 0);
  }
  12% {
    transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    transform: translate3d(0.01em, 0, 0);
  }
  16% {
    transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    transform: translate3d(0.01em, 0, 0);
  }
  20% {
    transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    transform: translate3d(0.01em, 0, 0);
  }
  24% {
    transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    transform: translate3d(0.01em, 0, 0);
  }
  28% {
    transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    transform: translate3d(0.01em, 0, 0);
  }
  32% {
    transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    transform: translate3d(0.01em, 0, 0);
  }
  36% {
    transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    transform: translate3d(0.01em, 0, 0);
  }
  40% {
    transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    transform: translate3d(0.01em, 0, 0);
  }
  44% {
    transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    transform: translate3d(0em, 0, 0);
  }
}
//end callback link

//page-doctors
.page__doctors_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page__doctors_block {
  margin: 25px;
  max-width: 260px;
}
.page__doctors_img {
  max-height: 260px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.page__doctors_info {
  display: flex;
  flex-direction: column;
}

.page__doctors_spec {
  font-size: 12px;
  color: #7c7c7c;
}

.page__doctors_phone,
.page__doctors_sign {
  color: #7c7c7c;
  font-size: 12px;
  transition: color 0.25s ease;
  &:hover {
    color: $accent;
  }
}
//end page-doctors

//page-pice
.page-price__consultation {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-price__consultation_list {
  max-width: 700px;
  width: 100%;
  padding: 0 10px;
  li {
    display: flex;
    padding: 5px;
  }
}
.page-price__code {
  display: block;
  max-width: 70px;
  width: 100%;
}
.page-price__consultation__cash,
.page-price__consultation__cash_name {
  margin-left: auto;
}
.page-price__consultation_name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.page-price__consultation__doctor {
  max-width: 450px;
  width: 100%;
}
.page-price__code_name,
.page-price__consultation__doctor_name,
.page-price__consultation__cash_name {
  margin-bottom: 10px;
  font-weight: bold;
}
//end page-pice
//page-address
.page-address__inner {
  h1 {
    margin-bottom: 80px;
  }
}
.page-address__container {
  display: flex;
}
.page-address__map,
.page-address__contacts {
  padding: 0 10px;
  width: 50%;
  height: 400px;
}
.page-address__contacts {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    li {
      margin: 5px 0;
      a {
        transition: all 0.25s ease;
      }
    }
    li:hover {
      a {
        color: $accent;
        font-weight: bold;
      }
    }
  }
}
.page-address__map {
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
//end page-address

//loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  transition: all 1s ease;
}
#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-size: 36px;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: $accent;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
//end loader

@import "media";
